body{
	background-image:linear-gradient(160deg,#c18e52,#cea07e,#d9b2aa,#e1c4d8,#e5bfdb,#e4a2b3,#df848d,#d76568);
	background-repeat: no-repeat;
 	background-size: auto;
 	padding: 5%;
 	height: 100vh;
}